#list-style{
    list-style-type: none;
    display: flex;
    padding: 0;
}
.navLinksList{
    margin-top: 1.5%;
    margin-left: 400px;
    display: flex;
    padding: 0;
}
.navLinksList li{
    list-style: none;
    text-decoration: none;    
}
.navLinksList a{
    text-decoration: none;  
    color: black;  
}
.navLinksList li{
    margin-right: 40px;
}
h1{
    font-size: 2em;
}